

doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	body
		h2="Inside API views. API view"
		div(class="container")
			block content

		//booststrap integration
		script(src='/javascripts/jquery-3.1.1.min.js')
		script(src='/javascripts/bootstrap.min.js')

		block jsContent
		
